@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@700&family=Sora:wght@400;500;600;700&display=swap');


body.theme-default {
  background-image:
    url('/TaskoIcon.svg'),
    var(--color-light);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, center;
  background-size: 800px, cover;
  background-attachment: scroll, scroll;
  color: var(--color-black);
  transition: all 1s ease;
}


body.theme-alt {
  background:
    url('/TaskoIcon.svg'),
    var(--color-dark);
  background-repeat: no-repeat, no-repeat;
  background-position: top left, center;
  background-size: 800px, cover;
  background-attachment: scroll, scroll;
  color: var(--color-white);
  transition: all 1s ease;

  .hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
  }
}

button.theme-button {
  background-image: linear-gradient(to right, #f6c786 0%, #ffcc33 51%, #f7cb8d 100%);
  /* margin: 10px; */
  padding: 15px 45px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: var(--color-black);
  box-shadow: none;
  border-radius: 18px;
  display: block;
  border: none;
}


button.theme-button:hover {
  background-position: right center;
  color: var(--color-black);
  text-decoration: none;
}

/*  Color Variables */
:root {
  --color-primary: #F4BD2D;
  /* YELLOW -  */
  --color-light: linear-gradient(115deg,
      #e0f7ff 0%,
      /* 转转 注 专砖 */
      #ffffff 30%,
      /*  */
      #e4e1e1cb 60%,
      /* 驻专 专 */
      #d0efff 80%
      /* 转转 砖 */
    );
  /* CLOUD - 专拽注 专 */
  --color-dark: linear-gradient(135deg, #0a0670 0%, #1E1E1E 20%, #0a0670 90%); 
  /* CLOUD BLACK - 专拽注  */
  --color-black: #212121;
  /* BLACK - 拽住  */
  --color-white: #F5F5F5;
  /* WHITE - 拽住 专 */
  --color-light-black: #3D3D59;
  /* LIGHT BLACK - 拽住 驻专  */
  --color-light-blue: #B3D3EA;
  /* LIGHT BLUE - 注专 */
  --color-light-gray: #B1D4EA;
  /* LIGHT GRAY - 注专 */

  /* Gradient Example */
  --gradient-primary: linear-gradient(90deg, #B3D3EA 50%, #B1D4EA 80%);
}

/* ===============================
   Typography
   =============================== */


body {
  font-family: 'Sora', sans-serif;
  font-size: 16px;
  /* color: var(--color-black);
  background-color: var(--color-light); */
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

h2 {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
  font-size: 64px;
}

h3 {
  font-family: 'Sora', sans-serif;
  font-weight: 600;
  font-size: 54px;
}

h4 {
  font-family: 'Sora', sans-serif;
  font-weight: 500;
  font-size: 46px;
}

.subtitle {
  font-size: 24px;
  font-weight: 400;
}

.body-text {
  font-size: 16px;
  font-weight: 400;
}

.small-text {
  font-size: 14px;
  font-weight: 400;
}

.link-text {
  font-size: 16px;
  font-weight: 700;
  color: var(--color-primary);
  text-decoration: none;
}

/* Button styling based on sizes */
.button-large {
  font-size: 28px;
  font-weight: 400;
}

.button-medium {
  font-size: 22px;
  font-weight: 400;
}

.button-small {
  font-size: 14px;
  font-weight: 400;
}

/* Dark mode class support */
/* .theme-dark {
  background-color: var(--color-dark);
  color: var(--color-white);
} */